/* 
 

 body color: #0A071A
 primary color:  #F5B70A
 secondary color: #f3eeee
 btn-bg-color: #F76E11
 p-color: #C4C4C4

 services-color: #7865FF #FF766B #F5B70A #2ACE92
 
 */
 $colorp: #50290f; // red
 $color-button: #F76E11; //  yellow
 $color-secondary: #f3eeee; // black 
 $color-primary: #F5B70A;
 $color-darkGray: #676262;
 $colo-lightGray: #f3eeee;